<div class="row">
    <div class="col-sm-2">
      <p class="display-4" style="color: white"><%= groups %></p>
      <p class="lead" style="color: white">Welcome to our group, user <%= user.name %></p>
    </div>
    <div class="col-sm-8">
      <% include product.ejs %>
    </div>
    <div class="col-sm-2">
        <p class="mt-4">
            <p class="lead" style="color: white">User list : </p>
            <% for(var i=0; i < users.length; i++) { %>
                <p class="lead" style="color: white"><%= users[i].name %></p>
            <% } %>
        </p>
        <button type="submit" class="btn btn-primary"><a href="/homepage" style="color: white">HomePage</a></button>
        <button type="submit" class="btn btn-success"><a href="/group_cart" style="color: white">Group Cart</a></button>
    </div>
</div>
  
  
  