<% if(cart) { %>
    <div class="row">
            <div class="col-sm-6 col-md-6 offset-md-3 offset-sm-3">
                <ul class="list-group">
                    <% cart.forEach(function(items) { %>
                        <% if(groups === items.groupName) { %>
                            <li class="list-group-item">
                                <strong><%= items.title %></strong>
                                <span class="label label-success">$ <%= items.price %></span>
                                <span class="label label-success">$ <%= items.groupName %></span>
                                <div class="btn-group">
                                    <button class="btn btn-primary btn-xs dropdown-toggle" type="button">Action <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Reduce by 1</a></li>
                                        <li><a href="#">Remove</a></li>
                                    </ul>
                                </div>
                            </li>
                        <% } else { %>
                            <p>You have another carts items in other groups</p>
                        <% } %>
                    <% }); %>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 offset-md-3 offset-sm-3">
                <button type="button" class="btn btn-success"><a href="/grouplist">Checkout</a></button>
            </div>
        </div>
<% } else { %>
    <div class="row">
            <div class="col-sm-6 col-md-6 offset-md-3 offset-sm-3">
                <h2>No items in Cart</h2>
            </div>
        </div>
<% } %>

