<div class="conteiner">
    <div class="row">
        <div class="col-sm-6 offset-sm-3 col my-auto text-center">  
            <h1 class="">Welcome to our site. Please register to continue working with the site.</h1>
        </div>
    </div>
</div>
